html, body, h1, , h3, h4 {
	margin: 0;
	padding: 0;
}
h1 img {
	display: block;
}
img {
	border: 0;
}
a {
	color: #464544;
}
a:hover {
	color: #0000FF;
}
.left {
	float: left;
}
.right {
	float: right;
}
.more {
	text-align: right;
}
.clear {
	clear: both;
}

body {
	background: #FFFFFF ;
	text-align: center;
	font: 11px arial, sans-serif;
	color: #000000;
	padding: 20px 0 0 0;
}

/** layout **/
#wrapper {
	text-align: left;
	margin: auto;
	width: 770px;
  position: relative;
}

/** header **/
#header {
  padding-top: 1px;
  text-align: center;
}
#header h1 {
	font: 32px "Times new roman", serif;
	font-weight: normal;
	position: absolute;
	left: 1px;
	top: 41px;
	color: #000000;
	padding: 0 0 0 0.7em;
	margin: -1em 0 0 0;
	line-height: 1;
}
#nav-top {
  margin-left: 503px;
}
#nav-top ul {
  margin: 1em 0 0 0;
  padding: 0;
  height: 31px;
  text-align: center;
}
#nav-top li {
  float: left;
  background: #FFFFFF ;
  list-style: none;
  text-align: center;
  font: 18px "Times new roman", serif;
  height: 31px;
  line-height: 100px;
}
#nav-top li div {
  background: top right ;
}
#nav-top li#tab-faq {
  width: 200px;
}
#nav-top li#tab-map {
  width: 200px;
  margin-left: 3px;
}
#nav-top a {
  color: #FFFFFF;
  text-decoration: none;
}
#nav-top a:hover {
  color: #FFFFFF;
}

#nav {
  padding-top: 20px;
    text-align: center;


}

#work {text-align:center;list-style:none}
#workli {display:inline}


#logo {

  	display:block;
	height:220px;
	width:200px;
	background: url(images/logoII.jpg) no-repeat;
	text-indent:-9999px;


}


#nav ul {
  margin: 0;
  padding: 0;
  height: 36px;
  line-height: 36px;
  background: bottom left repeat-x #fdd302;
  text-align:center;
}
#nav li {
  list-style: none;
  float: left;
  margin: 0;
  padding: 0 10px;
  text-align:center;
}
#nav li.home {
  background: bottom left ;
  padding-left: 50px;
  display:inline;

}
#nav a {
  font: 12px "Arial Black", serif;
  color: #000000;
  text-decoration: none;
}
#nav a:hover {
  color: #FFFFFF;
}

/** content **/

#content {
  padding-left: 20px;
}
#content h2 {
  font: 24px "Arial";
  color: #000000;
  font-weight: normal;
  border-left: 2px solid #000000;
  padding: 1px 1px 1px 8px;
  margin-top: 22px;
}
#content p {
  margin-left: 11px;
  line-height: 1.4;
}
#content a {
  color: #8D692D;
  font-weight: bold;
  text-decoration: none;
}
#content a:hover {
  color: #5B431A;
}

#content .left-col {
  float: left;
  width: 700px;
}


#content .left-col2 {
  float: right;
  width: 700px;
}


#content .right-col {
  float: right;
  width: 136px;
}

#content #welcome {
  margin-right: 40px;
  font-size:13px;
  color: #000000;
  padding: 20;
}
#content #welcome a{
  color: #000000;
  text-decoration:underline;
}

#content #welcome a:hover{
  color: #000000;
  text-decoration:underline;
}

#content .right-col li, #content .right-col ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
#content .right-col li {
  border-left: 1px solid #000000;
  padding-left: 9px;
  margin: 10px;
}
#content .right-col a {
  font-size: 12px;
  font-weight: normal;
  color: #67450D;
}
#content .right-col a:hover {
  color: #2C1D04;
}
/** later **/

#later {
  color: #564929;
}
#later  {
  font-size: 20px;
}
#later .right-col p {
  font-size: 12px;
  line-height: 1.7;
}

#later .box {
  float: left;
  width: 85px;
}
#later .box a{
	text-decoration:underline;
}
#later #later-b1 {
  padding-top: 10px;
  margin-right: 4px;
}
#later #later-b2 {
  width: 155px;
  margin-right: 4px;
}
#later #later-b3 {
  width: 114px;
  margin-right: 6px;
}
#footer {
  background: #635c3b;
  text-align: center;
  color: #FFFFFF;
  padding: 14px;
}

/** lightbox **/
#lightbox{	position: absolute;	left: 0; width: 100%; z-index: 100; text-align: center; line-height: 0;}
#lightbox img{ width: auto; height: auto;}
#lightbox a img{ border: none; }

#outerImageContainer{ position: relative; background-color: #fff; width: 250px; height: 250px; margin: 0 auto; }
#imageContainer{ padding: 10px; }

#loading{ position: absolute; top: 40%; left: 0%; height: 25%; width: 100%; text-align: center; line-height: 0; }
#hoverNav{ position: absolute; top: 0; left: 0; height: 100%; width: 100%; z-index: 10; }
#imageContainer>#hoverNav{ left: 0;}
#hoverNav a{ outline: none;}

#prevLink, #nextLink{ width: 49%; height: 100%; background-image: url(data:image/gif;base64,AAAA); /* Trick IE into showing hover */ display: block; }
#prevLink { left: 0; float: left;}
#nextLink { right: 0; float: right;}
#prevLink:hover, #prevLink:visited:hover { background: url(images/prevlabel.gif) left 15% no-repeat; }
#nextLink:hover, #nextLink:visited:hover { background: url(images/nextlabel.gif) right 15% no-repeat; }

#imageDataContainer{ font: 10px Verdana, Helvetica, sans-serif; background-color: #fff; margin: 0 auto; line-height: 1.4em; overflow: auto; width: 100%	; }

#imageData{	padding:0 10px; color: #666; }
#imageData #imageDetails{ width: 70%; float: left; text-align: left; }	
#imageData #caption{ font-weight: bold;	}
#imageData #numberDisplay{ display: block; clear: left; padding-bottom: 1.0em;	}			
#imageData #bottomNavClose{ width: 66px; float: right;  padding-bottom: 0.7em; outline: none;}	 	

#overlay{ position: absolute; top: 0; left: 0; z-index: 90; width: 100%; height: 500px; background-color: #000; }



/** UL **/



#indent {
margin: 50px;
}

/** UL **/

#ul {
font-family:Arial, ;
font-size: 12px;
  text-align:center;
color: #000000;
text-decoration: none;
margin-top:0;
padding-top:0;



}
